<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cplanet.toring.mapper.ContentMapper">
    <select id="selectMainCategory" parameterType="java.lang.String" resultType="com.cplanet.toring.domain.Category$MainCategory">
        SELECT  id, name
        FROM  tr_category_sub1
    </select>

    <select id="selectSubCategory" parameterType="java.lang.String" resultType="com.cplanet.toring.domain.Category$SubCategory">
        SELECT  id, name, category_sub1_id as mainCategoryId
        FROM  tr_category_sub2
    </select>

    <insert id="insertStartStep1" parameterType="com.cplanet.toring.dto.request.ContentRequest">
        insert into tr_contents (
            member_id,
            title,
            keyword,
            category_sub1,
            category_sub2,
            preview,
            status,
            create_date
        ) values (
            #{memberid},
            #{title},
            #{keyword},
            #{categorysub1},
            #{categorysub2},
            #{preview},
            #{status},
            now()
        )
        <selectKey keyProperty="id" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>
    </insert>

    <update id="updateStartStep1" parameterType="com.cplanet.toring.dto.request.ContentRequest">
        update tr_contents
        set title = #{title},
            keyword = #{keyword},
            category_sub1 = #{categorysub1},
            category_sub2 = #{categorysub2},
            preview = #{preview},
            status = #{status},
            update_date = now()
        where id = #{id}
        and member_id = #{memberid}
    </update>

    <update id="updateStartStep2Page1" parameterType="com.cplanet.toring.dto.request.ContentRequest">
        update tr_contents
        set content = #{content},
            status = #{status},
            update_date = now()
        where id = #{id}
        and member_id = #{memberid}
    </update>

    <update id="updateStartStep2Page2" parameterType="com.cplanet.toring.dto.request.ContentRequest">
        update tr_contents
        set content2 = #{content},
            status = #{status},
            update_date = now()
        where id = #{id}
        and member_id = #{memberid}
    </update>

    <update id="updateStartStep2Page3" parameterType="com.cplanet.toring.dto.request.ContentRequest">
        update tr_contents
        set content3 = #{content},
            status = #{status},
            update_date = now()
        where id = #{id}
        and member_id = #{memberid}
    </update>

    <update id="updateAttatchStep" parameterType="com.cplanet.toring.dto.request.ContentRequest">
        update tr_contents
        set
        <if test="backgroundimage != null">
            background_image = #{backgroundimage},
        </if>
        <if test="thumbimage != null">
            thumb_image = #{thumbimage},
        </if>
        <if test="attatchmeta != null">
            attatch_meta = #{attatchmeta},
        </if>
            toring = #{toring},
            update_date = now()
        where id = #{id}
        and member_id = #{memberid}
    </update>

    <update id="updateContentStatus" parameterType="com.cplanet.toring.dto.request.ContentRequest">
        update tr_contents
        set status = #{status},
            update_date = now()
        where id = #{id}
        and member_id = #{memberid}
    </update>

    <select id="selectContentInfo" parameterType="java.lang.Long" resultType="com.cplanet.toring.dto.response.ContentResponse">
        select
          id,
          member_id as memberid,
          title,
          keyword,
          category_sub1 as categorysub1,
          category_sub2 as categorysub2,
          preview,
          content,
          content2,
          content3,
          content_tts as contenttts,
          attatch_meta as attatchmeta,
          thumb_image as thumbimage,
          background_image as backgroundimage,
          toring,
          status,
          view_date as viewdate,
          create_date as createdate,
          update_date as updatedate
        from tr_contents
        where id = #{contentid}
    </select>

    <select id="selectContentList" parameterType="java.lang.Long" resultType="com.cplanet.toring.domain.ContentInfo">
        select
          id,
          member_id as memberid,
          title,
          keyword,
          category_sub1 as categorysub1,
          category_sub2 as categorysub2,
          thumb_image as thumbimage,
          create_date as createdate,
          update_date as updatedate,
          toring,
          status
        from tr_contents
        where member_id = #{memberid}
        order by createdate desc
    </select>

</mapper>