<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cplanet.toring.mapper.MenteeMapper">
    <select id="selectMenteeList" parameterType="java.util.Map" resultType="com.cplanet.toring.domain.MenteeUser">
      select
        a.id,
        a.member_id as memberid,
        a.title,
        a.keyword,
        a.content,
        a.create_date as createdate,
        a.update_date as updatedate,
        (select nickname from tr_profile where member_id = a.member_id) as nickname
      from tr_mentees a
      where 1 = 1
      <if test="keyword != null and keyword != ''">
        and a.keyword like #{keyword}
      </if>
      order by a.create_date desc
      <if test="start != null">
          limit #{start}, #{pagecount}
      </if>
    </select>
    <select id="selectMenteeDetail" parameterType="java.lang.Long" resultType="com.cplanet.toring.domain.MenteeUser">
      select
        a.id,
        a.member_id as memberid,
        a.title,
        a.keyword,
        a.content,
        a.create_date as createdate,
        a.update_date as updatedate,
        (select nickname from tr_profile where member_id = a.member_id) as nickname
      from tr_mentees a
      where a.id = #{id}
    </select>
    <insert id="insertMentee" parameterType="com.cplanet.toring.domain.MenteeUser">
        insert into tr_mentees (
          title,
          content,
          keyword,
          member_id,
          create_date,
          update_date
        ) values (
          #{title},
          #{content},
          #{keyword},
          #{memberid},
          now(),
          now()
        )
    </insert>

    <update id="updateMentee" parameterType="com.cplanet.toring.domain.MenteeUser">
      update tr_mentees
      set title = #{title},
          keyword = #{keyword},
          content = #{content},
          update_date = now()
      where id = #{id}
      and member_id = #{memberid}
    </update>

    <delete id="deleteMentee" parameterType="java.lang.Long">
        delete from tr_mentees
        where id = #{param1}
      and member_id = #{param2}
    </delete>

    <select id="selectMenteeReplyList" parameterType="java.util.Map" resultType="com.cplanet.toring.domain.MenteeReply">
        select
            a.id,
            a.member_id as memberid,
            a.mentee_id as menteeid,
            a.content,
            a.create_date as createdate,
            a.update_date as updatedate,
            b.nickname,
            b.thumbnail
        from tr_mentee_reply a, tr_profile b
        where 1 = 1
        and a.mentee_id = #{menteeid}
        and a.member_id = b.member_id
        order by a.create_date desc
        <if test="start != null">
            limit #{start}, #{pagecount}
        </if>
    </select>

    <insert id="insertMenteeReply" parameterType="com.cplanet.toring.domain.MenteeReply">
        insert into tr_mentee_reply (
          content,
          member_id,
          mentee_id,
          create_date,
          update_date
        ) values (
          #{content},
          #{memberid},
          #{menteeid},
          now(),
          now()
        )
    </insert>

    <update id="updateMenteeReply" parameterType="com.cplanet.toring.domain.MenteeReply">
      update tr_mentee_reply
      set content = #{content},
          update_date = now()
      where id = #{id}
    </update>

    <delete id="deleteMenteeReply" parameterType="java.lang.Long">
        delete from tr_mentee_reply
        where id = #{param1}
    </delete>

    <select id="selectMenteeReviewList" parameterType="java.util.Map" resultType="com.cplanet.toring.domain.MenteeReview">
        select
        a.id,
        a.member_id as memberid,
        a.content_id as contentid,
        a.content,
        a.create_date as createdate,
        a.update_date as updatedate,
        b.nickname,
        b.thumbnail
        from tr_contents_review a, tr_profile b
        where 1 = 1
        and a.content_id = #{contentId}
        and a.member_id = b.member_id
        order by a.create_date desc
        <if test="start != null">
            limit #{start}, #{pagecount}
        </if>
    </select>

    <insert id="insertMenteeReview" parameterType="com.cplanet.toring.domain.MenteeReview">
        insert into tr_contents_review (
        content,
        member_id,
        content_id,
        create_date,
        update_date
        ) values (
        #{content},
        #{memberid},
        #{contentid},
        now(),
        now()
        )
    </insert>

    <update id="updateMenteeReview" parameterType="com.cplanet.toring.domain.MenteeReview">
        update tr_contents_review
        set content = #{content},
        update_date = now()
        where id = #{id}
    </update>

    <delete id="deleteMenteeReview" parameterType="java.lang.Long">
        delete from tr_contents_review
        where id = #{param1}
    </delete>

</mapper>